<launch>
  <node pkg="octomap_to_occupancy"
        type="octomap_to_occupancy"
        name="octomap_to_occupancy_node"
        output="screen">

    <param name="height_threshold" value="0.20" />
    <param name="max_slope_deg" value="25.0" />
    <param name="unknown_as_free" value="false" />

  </node>
</launch>
