<launch>

  <node pkg="elevation_mapping"
        type="elevation_mapping"
        name="elevation_mapping"
        output="screen">

    <!-- Load parameters as PRIVATE params -->
    <rosparam command="load"
              file="$(find elevation_mapping_demos)/config/robots/unitree_a1.yaml"/>
    <rosparam command="load"
              file="$(find elevation_mapping_demos)/config/postprocessing/postprocessor_pipeline.yaml"/>
  </node>
    
    <!-- Launch visualizations for the resulting elevation map -->
  <!-- <include file="$(find elevation_mapping_demos)/launch/visualization.launch" />-->

</launch>

